//-------Fonts
$cinzel: 'Cinzel', serif;
$poppins: 'Poppins', sans-serif;

//-------Font size
$text-xs: 12px;
$text-sm: 14px;
$text-base: 15px;
$text-md: 18px;
$text-lg: 20px;
$text-xl: 24px;
$text-2xl: 30px;
$text-3xl: clamp(45px, 12vw, 90px);
//-------Size
$headerHeight: 50px;

//-------Color
$clr-primary: #756f63;
$clr-black: #000000;
$clr-babyBlue: #0000ee;
$clr-stoneGrey: #746e63;
$clr-skyBlue: #116dff;
$clr-lightGrey: #ada9a0;
$clr-sunsetYellow: #bfa760;
$clr-offWhite: #d9d5ca;
$clr-white: #ffffff;
$clr-darkGreen: #272521;
$clr-darkBrown: #4e4a42;