@use "../../sass/index" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, space-between);
    @include size(100%, $headerHeight);
    padding: 0 5%;
    color: $clr-white;
    background-color: $clr-darkBrown;
    z-index: 99;

    %flex {
        @include flex(center, flex-start);
    }

    +* {
        margin-top: $headerHeight;
    }

    .logo {
        text-transform: uppercase;
    }

    .navbar {
        position: absolute;
        background-color: inherit;
        transition: all 300ms;
        z-index: 99;

        @include large {
            top: 100%;
            left: 0;
            @include size(min(100%, 500px), 100vh);
        }

        @include large(min) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .nav-list {
            @extend %flex;
            gap: 20px;
            text-transform: uppercase;

            @include large {
                flex-direction: column;
                row-gap: 30px;
                padding: 50px;
            }

            .nav-item {
                padding: 0 10px;

                &:hover {
                    color: $clr-sunsetYellow
                }
            }

            .nav-item.active {
                color: $clr-sunsetYellow;
            }

            .btn-login {
                display: none;

                @include large {
                    display: flex;
                }
            }
        }
    }

    .navbar.hidden {
        @include large {
            transform: translateX(-100%);
        }
    }

    .action-group {
        @extend %flex;
        gap: auto-clamp(30);

        @include large {
            order: -1
        }

        .socials {
            @extend %flex;
            gap: 15px;
            margin-right: 20px;

            @include large {
                display: none;
            }

            svg {
                font-size: $text-lg;
            }
        }

        .btn-login {
            @include large {
                display: none;
            }
        }

        .cart {
            position: relative;

            .cart-amount {
                position: absolute;
                width: 100%;
                bottom: 5px;
                left: 0;
                font-size: $text-xs;
                text-align: center;
                color: $clr-white;
            }

            svg {
                font-size: 25px;
                color: $clr-sunsetYellow;
            }

        }
    }

    .btn-menu {
        display: none;
        color: $clr-white;

        @include large {
            display: block;
        }

        svg {
            font-size: 25px;
        }
    }

    .btn-login {
        @extend %flex;
        gap: 8px;

        svg {
            font-size: 20px;
        }

    }

}