@use "../../sass/index" as *;

.footer {
    @include flex(center, center, $direction: column);
    padding-bottom: 20px;
    text-align: center;
    color: $clr-lightGrey;
    background-color: $clr-darkBrown;

    .footer-form {
        padding: auto-clamp(46) 0;

        >*+* {
            margin-top: 20px
        }

        .subscribe {
            @include flex(center, center, 20px 10px, wrap);

            input {
                min-width: 290px;
                padding: 5px 10px;
                outline: 1px solid $clr-primary;
                color: $clr-white;
            }

            .btn-subscribe {
                padding: 10px 20px;
                color: $clr-white;
                background-color: #32302b;
                outline: 1px solid $clr-white;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

}