.overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #746e63, $alpha: 0.3);
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}