.number-field {
    display: flex;
    align-items: stretch;
    width: 100%;
    color: #272521 !important;
    border: 1px solid #272521;

    .btn {
        padding: 0 5px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        svg {
            font-size: 20px;
            color: #272521 !important;
        }
    }

    .number-value {
        flex-grow: 1;
        padding: 4px;
        text-align: center;
    }

}